#from original git ignore file

game
server
test
*.o
*.a
*~
.sconsign.dblite
.scons-option-cache
.directory
*.blend1
*.blend2
*.blend3
*.kate-swp

#directories

.tx
data
images
locale
MacOS
music
music_aac
music_aac_mini
po
sounds
sounds_wav
utils

#files

cellular
CHANGELOG
civ
ct
DejaVuSans.ttf
FONT_GENERATION
frogatto
FreeMono.ttf
INSTALL
iOS_APP_STORE_METADATA
iOS_CHANGELOG
MAC_APP_STORE_METADATA
Makefile
Makefile.*
Makefile-win
make-tileset.pl
pull-v
Rakefile
README
rpg
SConstruct
surface_scaling.cfg

#created by Visual Studio

debug
ipch
frogatto.opensdf
frogatto.sdf
frogatto.suo
frogatto.vcxproj.user
release

#other unversioned files
frogatto_msvc_bin
preferences.cfg
stage
stats
tmp

